#postContainer{
  font-family: cursive;
}
.container {
    text-align: center;
    position: relative;
    padding-bottom: 40px;
  }

  .select-wrapper {
    position: relative;
    display: flex;
    left: 5em;
    width: 100%;
    overflow: hidden;
  }

  .custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    padding: 5px 10px 5px 5px; /* Espaçamento ajustado para acomodar a seta */
    cursor: pointer;
    background-image: url('../../../assets/icons/select_arrow.png');
    background-repeat: no-repeat;
    background-position: right center; /* Posição da seta */
    background-size: 20px auto;
    font-size: 24px;
    color: #959595;
  } 

  #postContainer {
    display: block;
  }

  .content{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
  }
p{
    font-size: 24px;        
    color: #FFF;
    white-space: nowrap;
    margin: 0;
}

.rec-title{
    position: relative;
    bottom: 60px;
    color:#C6C6C6;
    font-size: 34px;
    margin: 0;
    padding: 0;
}


.announcer span {
    font-size: 24px;
    color: #D27E00;
}
.photo {
  padding-left: 65px;
  padding-bottom: 20px;
}

.info {
    text-align: left;        
    padding-left: 30px;
    padding-right: 500px;
}
.info2 {
  padding-left: 350px;
}

.btn-comprar {
    width: 158px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgba(184, 110, 0, 1);
    box-shadow: 0px 4px 36px -6px rgba(255, 255, 255, 0.25);
    color: #FFF;
    font-size: 26px;
    margin-bottom: 20px;
}
.btn-details {
  width: 158px;
  height: 50px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 36px -6px rgba(255, 255, 255, 0.25);
  color: #FFF;
  font-size: 26px;
  margin-bottom: 20px;
  background-color: rgba(90, 90, 90, 1);
}   

.btn-details:hover {
  box-shadow: 0px 4px 36px -6px rgba(255, 255, 255, 0.638);
  background-color: rgba(213, 206, 206, 0.723);
}
.btn-comprar:hover {
    box-shadow: 0px 4px 36px -6px rgba(255, 255, 255, 0.638);
    background-color: rgb(210, 130, 9);
}
.grey-text {
    position: relative;
    top: 20px;
    color: #968686;
    margin: 0;
    padding-top: 30px;
}
.info2 img {
    position: relative;
    right: 235px;
    top: 10px;
}
.price {
    position: relative;
    padding-top: 50px;
    bottom: 30px;
    right: 25px;
    color:#C6C6C6;
    font-size: 34px;
    margin: 0;
    padding: 0;
}
.announcer {
  position: relative;
  margin: 0;
  padding: 0;
  bottom: 60px;
}

.separator{
    width: 100%;
    background-color: rgb(240, 0, 0);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}