<nav>
  <div class="logo">
    <a href="http://127.0.0.1:5501/frontend/src/views/home/html/index.html" style="text-decoration: none;"><p><span>Note</span>worthy</p></a>
  </div>

  <!-- Links de navegação à direita -->
  <div class="nav-itens">
    <div class="links">
      <ul class="options-list", id="menu-list">
        <li><a href="../../../views/announcement/html/announcement.html">Anuncie</a></li>
        <li class="login"><a href="../../../views/login/html/login.html">Login</a></li>
        <li><a href="../../../views/about/html/about.html">Sobre</a></li>
      </ul>
    </div>
    <!-- Campo de pesquisa -->
    <div class="search-box">
      <input type="text">
      <img src="https://static-00.iconduck.com/assets.00/search-icon-2044x2048-psdrpqwp.png" alt="">
    </div>
    <img src="https://icon-library.com/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg" class="menu" alt="">
  </div>
</nav>