<nav>
  <div class="logo">
    <p><span>Note</span>worthy</p>
  </div>

  <!-- Links de navegação à direita -->
  <div class="nav-itens">
    <div class="links">
      <ul class="options-list">
        <li><a href="../../../views/favorite/html/favorite.html">Favoritos</a></li>
        <li><a href="/anuncie">Anuncie</a></li>
        <li>
          <div class="dropdown">
            <a href="/categorias" class="dropdown-link">Categorias</a>
            <div class="div-dropdown" id="categorias-dropdown">
              <ul class="dropdown-content">
                <li><a href="/categorias/guitarra">Guitarra</a></li>
                <li><a href="/categorias/violao">Violão</a></li>
                <li><a href="/categorias/teclado">Teclado</a></li>
                <li><a href="/categorias/piano">Piano</a></li>
                <li><a href="/categorias/violino">Violino</a></li>
                <li><a href="/categorias/bateria">Bateria</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="/perfil">Perfil</a></li>
      </ul>
    </div>
    <!-- Campo de pesquisa -->
    <div class="search-box">
      <input type="text">
      <img src="https://static-00.iconduck.com/assets.00/search-icon-2044x2048-psdrpqwp.png" alt="">
    </div>
    <img src="https://icon-library.com/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg" class="menu" alt="">
  </div>
</nav>