<body>
        <div class="container">
            <div class="select-wrapper">
                <select class="custom-select" id="options" name="options">
                    <option value="option1" selected>Mais recente</option>
                    <option value="option2">Mais popular</option>
                    <option value="option3">Mais favoritado</option>        
                </select>
            </div>
            <div class="component">
                <div id="postContainer"></div>
            </div>
        </div>
</body>

