<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/recommendations.css">
    <script type="module" src="../../../../dist/main.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="select-wrapper">
            <select class="custom-select" id="options" name="options">
                <option value="option1" selected>Mais recente</option>
                <option value="option2">Mais popular</option>
                <option value="option3">Mais favoritado</option>        
            </select>
        </div>
        <hr class="separator">    
        <div class="component">
            <div class="photo">
                <img src="../../../assets/imgs/image2.png" alt="guitar">
            </div>
            <div class="info">
                <h3>Fender Stratocaster</h3>
                <p><span>Avaliação do vendedor:</span> 5.0</p>
                <p class="grey-text">Bahia, Feira de Santana, DDD 75</p>
            </div>
            <div class="info2">
                <h3 class="price">549 R$</h3>
                <button class="btn-comprar">Comprar</button>
                <img src="../../../assets/icons/icon _heart.png" alt="favoritar">
            </div>
        </div>
        <hr class="separator">  
        <div class="component">
            <div class="photo">
                <img src="../../../assets/imgs/image3.png" alt="guitar">
            </div>
            <div class="info">
                <h3>Piano Preto</h3>
                <p><span>Avaliação do vendedor:</span> 5.0</p>
                <p class="grey-text">Bahia, Feira de Santana, DDD 75</p>
            </div>
            <div class="info2">
                <h3 class="price">5000 R$</h3>
                <button class="btn-comprar">Comprar</button>
                <img src="../../../assets/icons/icon _heart.png" alt="favoritar">
            </div>
        </div>  
        <hr class="separator"> 
    </div>
</body>
</html>

