<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <script type="module" src="../../../../dist/main.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="nav-bar"></div>
    <div class="box-sobre">
        <p class="note-lg">Noteworthy</p>
        <p class="txt-corpo">
            Somos um inovador sistema de vendas especializado em conectar compradores e vendedores de instrumentos musicais usados de forma rápida, fácil e segura. Se você procura um novo violão, teclado, bateria, ou qualquer outro instrumento musical de qualidade a um preço acessível, você está no lugar certo!
        </p>
        <p class="txt-corpo">
            Nosso contato: Noteworthy@gmail.com
        </p>
    </div>
</body>
</html>