<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/payment.css">
    <script src="../script/payment-data-set.js"></script>  
    <script type="module" src="../../../../dist/main.js"></script>    
    <title>Pagamento</title>  
</head>
<body>
    <div id="nav-bar"></div>
    <main class="main-content">
        <div class="container">
            <div class="address-wrapper">
                <h2>Sua Localização</h2>
                <form id="address-form" action="payment-confirm.html" method="post">
                    <label for="city">Cidade:</label>
                    <input type="text" class="spaced-input" id="city" name="city"><br><br>
                    
                    <label for="neighborhood">Bairro:</label>
                    <input type="text" class="spaced-input" id="neighborhood" name="neighborhood"><br><br>
                    
                    <label for="street">Rua:</label>
                    <input type="text" class="spaced-input" id="street" name="street"><br><br>

                    <label for="number">Número:</label>
                    <input type="text" class="spaced-input" id="number" name="number"><br><br>

                    <label for="cep">CEP:</label>
                    <input type="text" class="spaced-input" id="cep" name="cep"><br><br>
                    
                    <label for="complement">Complemento:</label>
                    <textarea id="complement" name="complement"></textarea><br><br>                    
                    <input type="submit"  id="goto-payment" value="Seguir para&#10;pagamento">
                </form>
            </div>
            <div class="summary">
                <h2>Resumo</h2>
                <div class="itens">
                    <p>Itens:</p>
                    <p>1</p>
                </div>
                <div class="price">
                    <p>Preço:</p>
                    <p>R$ 569,00</p>
                </div>
                <div class="total">
                    <p>Total:</p>
                    <p>R$ 569,00</p>
                </div>                
            </div>
        </div>      
    </main>
</body>
</html>
