<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <script type="module" src="../../../../dist/main.js"></script>
    <title>Document</title>
</head>
<body data-controller="login">
    <div id="nav-bar"></div>
    <div class="tela-cadastro">
        <div class="form-cadastro">
            <div class="caixaimg">
                <img src="/frontend/src/assets/imgs/imgprofile.png" alt="Foto de Perfil">
            </div>
            <form id="login-form">
                <label class="line1" for="email">Email</label></br>
                <input class="line2" id="email" name="email" required placeholder="Email"></br>

                <label class="line1" for="senha">Senha</label></br>
                <input class="line2" id="senha" name="senha" type="password" required placeholder="Senha"></br>

                <button class="confirm" type="submit">Confirmar</button></br>
                <p class="line4">Ainda não tem registro?</p></br> 
            </form>
            <a href="../../register/html/register.html"><button class="register" type="submit">Cadastrar</button></a>
        </div>
        
    </div>
</body>
</html>