<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../../..//components/nav/style/nav-bar.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="module" src="../script/index.js"></script>
    <script type="module" src="../script/load-components.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="nav-bar"></div>
    <main class="main-content">
      <!-- Conteúdo principal aqui -->
    </main>
</body>
</html>
