<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <script type="module" src="../../../../dist/main.js"></script>
    <title>Document</title>
</head>
<body data-controller="home">
    <div id="nav-bar"></div>
    <main class="main-content">
      <div class="wrapper">
        <div class="carousel">
          <div class="space"></div>
          <div class="card">
            <div class="flex-direction">
              <div class="informations">
                <h1>Compre seu violão</h1>
                <h2>Epiphone</h2>
                <p>Fundada na Turquia em 1873, a Epiphone é<br>uma das mais antigas e tradicionais marcas<br>de violão.</p>
                <button class="filter-button">Compre o seu</button>
              </div>
              <div class="instrument-img">
                <img src="https://recursos.inovamusic.com.br/Imagem/Menu/118/VIOL%C3%83O.png" alt="Violão">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="flex-direction">
              <div class="informations">
                <h1>Compre seu violão</h1>
                <h2>Epiphone</h2>
                <p>Fundada na Turquia em 1873, a Epiphone é<br>uma das mais antigas e tradicionais marcas<br>de violão.</p>
                <button class="filter-button">Compre o seu</button>
              </div>
              <div class="instrument-img">
                <img src="https://cdn.awsli.com.br/784/784411/arquivos/TELCAS-BANNER.png" alt="Violão">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="flex-direction">
              <div class="informations">
                <h1>Compre seu violão</h1>
                <h2>Epiphone</h2>
                <p>Fundada na Turquia em 1873, a Epiphone é<br>uma das mais antigas e tradicionais marcas<br>de violão.</p>
                <button class="filter-button">Compre o seu</button>
              </div>
              <div class="instrument-img">
                <img src="https://cdn.dooca.store/440/products/994453-violino-12-vogga-von112n.png?v=1672780499&webp=0" alt="Violão">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="flex-direction">
              <div class="informations">
                <h1>Compre seu violão</h1>
                <h2>Epiphone</h2>
                <p>Fundada na Turquia em 1873, a Epiphone é<br>uma das mais antigas e tradicionais marcas<br>de violão.</p>
                <button class="filter-button">Compre o seu</button>
              </div>
              <div class="instrument-img">
                <img src="https://d2r9epyceweg5n.cloudfront.net/stores/001/502/649/products/karval-sss-preta21-1adfbcac487b4fc38b16396662001695-1024-1024.png" alt="Violão">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="flex-direction">
              <div class="informations">
                <h1>Compre seu violão</h1>
                <h2>Epiphone</h2>
                <p>Fundada na Turquia em 1873, a Epiphone é<br>uma das mais antigas e tradicionais marcas<br>de violão.</p>
                <button class="filter-button">Compre o seu</button>
              </div>
              <div class="instrument-img">
                <img src="https://vogga.com.br/image/produtos/geral/268-zoom-152.png" alt="Violão">
              </div>
            </div>
          </div>
          <div class="space"></div>
        </div>
      </div>
    </main>
</body>
</html>
